@import '../../Common.module';

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0 !important;
}

.ant-checkbox-wrapper {
    @extend .cutText;

    margin-right: 8px;
    width: 155px;
}

.ant-checkbox-wrapper:last-child {
    margin-right: 0;
}