@import "../../../theme";
@import "../../../mixins";

.wrapper {
  position: relative;
  padding: 20px 20px 20px 82px;

  .forMobile({
    padding-left: 40px;
    padding-top: 27px;
  })
}

.image {
  position: absolute;
  left: 28px;
  top: 27px;
}

.title {
  font-size: 36pt;
}

.title span {
  color: @primary-color;
}