@import "../../../theme";
@import "../../../mixins";

.image {
  position: absolute;
  left: 28px;
  top: 27px;
}

.title {
  font-size: 36pt;
  color: @text-color !important;
  text-decoration: none;
}

.title span {
  color: @primary-color;
}