.controls {

  button span {
    text-decoration: underline;
  }

  button:hover span {
    text-decoration: none;
  }

  button:first-child {
    padding-left: 0;
  }

  .status {
    float: right;
    padding-top: 8px;
    font-size: .9em;
  }
}